body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #222;
  background: #FFF none repeat scroll 0% 0%;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 10px;
  float: right;
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
.icons {
  margin-top: -4px;
}
#name {
  color: #757575;
}
#container {
  text-align: center;
  margin: 10 0 0 0 auto;
  padding-top: 200px;
}
img {
  margin: auto;
}
#searchform {
  margin: auto
  position: absolute;
  top: 311px;
  padding-top: 15px;
}
#options {
  margin-top:10px;
}
.button {
  font-size: 13px;
  font-weight: bold;
  background-color: #f1f1f1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  color: #757575;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0px 16px;
  line-height: 27px;
  text-align: center;
  background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
}
.button:hover {
  color: #222;
  background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
  background-color: #F8F8F8;
  border: 1px solid #C6C6C6;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
input {
  height: 35px;
  width: 40em;
  border: 1px solid #D9D9D9;
}
#bottombar {
  overflow: hidden;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 12px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  left: 0;
}
#bottombar ul {
  margin-top: 5px;
  margin-bottom: 0;
}
#bottombar li {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}
#right{
  float:right;
  padding-right: 15px;
}
#left{
  float: left;
  padding-left: 15px;
}
#bottombar a {
  color: #757575;
}

